html {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

body {
    height: 100%;
    text-align: center;
    font-size: 18px;
}

.container {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#board {
    width: 285px;
    margin: auto;
    display: inline-block;
}

span.red {
    color: red;
    font-weight: 700;
}

span.blue {
    color: blue;
    font-weight: 700;
}

span.green {
    color: lime;
    font-weight: 700;
}

#turn {
    font-weight: bold;
    font-style: italic;
    margin: 10px;
    display: block;
}

#score {
    margin-bottom: 10px;
}

p {
    border: 3px solid cyan;
    border-radius: 25px;
    padding: 15px;
    width: 50%;
    margin-bottom: 15px;
    display: inline-block;
}

h1,
h2 {
    text-decoration: underline;
}

h2,
h4 {
    margin-bottom: 0;
    margin-top: 0;
}

.empty,
.o-mark,
.x-mark {
    border: 1px solid black;
    width: 90px;
    height: 90px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
}

.x-mark {
    background-image: url("../images/x-mark.png");
}

.o-mark {
    background-image: url("../images/o-mark.png");
}
